/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  font-family: "Meslo LG M DZ";
  text-align: center;
}

a, a:hover, a:visited, a:active { color: black; text-decoration: none; }

#content {
  width: 60%;
  margin-left: 20%;
  margin-top: 8%;
  padding: 5px 5px 20px 5px;
  border: 1px solid gray;
  border-radius: 8px;
}

h1 { font-size: 3em; }

h3 { font-size: 2em; }

h4 { font-size: 1.5em; }

form input {
  font-size: 1.5em;
  width: 20em;
}

DIV.hit { width: 80%; margin-left: 10%;}
DIV.hit.even { background-color: #ccc; }
DIV.hit.odd  { background-color: #eee; }
DIV.hit.header { background-color: #aaa; }

DIV.hit SPAN { display: inline-block; text-align: left; }
DIV.hit SPAN.score { width: 4em; }
DIV.hit SPAN.date { width: 9em; }
DIV.hit SPAN.origin { width: 18em; }
DIV.hit SPAN.origin_id { width: 10em; }

SPAN.text p { width: 60%;
  margin-left: 20%;
  text-align: left; }
