/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  font-family: "Meslo LG M DZ";
  text-align: center;
}

#content {
  width: 60%;
  margin-left: 20%;
  margin-top: 8%;
  padding: 5px 5px 20px 5px;
  border: 1px solid gray;
  border-radius: 8px;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

form input {
  font-size: 1.5em;
  width: 20em;
}